# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Environment
.env
venv/
env/
*.env

# Django
/staticfiles/
media/

# VS Code
.vscode/

# macOS / Windows
.DS_Store
Thumbs.db

# Logs
*.log
